<div class="page_block">
    <div class="to_each_page red">
        <a href="/zh/order/top">
            <i class="far fa-clipboard" style="color: #fbd868;"></i>
            <p style="color: #fbd868;">点菜</p>
        </a>
    </div>
    <div class="to_each_page blue">
        <a href="/zh/kitchen/table">
            <i class="fas fa-fish" style="color: #f3f3ef;"></i>
            <p style="color: #f3f3ef;">厨房</p>
        </a>
    </div>
</div>
<div class="page_block">
    <div class="to_each_page yellow">
        <a href="/zh/cashier/table">
            <i class="fas fa-calculator" style="color: #eb584e;"></i>
            <p style="color: #eb584e;">结账</p>
        </a>
    </div>
    <div class="to_each_page white">
        <a href="/zh/statistics/sales">
            <i class="fas fa-chart-line" style="color: #4c8ca5;"></i>
            <p style="color: #4c8ca5;">统计</p>
        </a>
    </div>
</div>
