<div class="top_page_background">
    <div class="top_page_contents">
        <div class="top_page_nav_n_title">
            <div class="top_page_nav">
                <button class="top_page_nav_button" id="nav_button">
                    <i class="fas fa-bars"><span></span></i>
                </button>
                <div class="top_page_nav_div" id="nav_button2">
                    <ul class="top_page_nav_ul">
                        <li class="top_page_nav_li"><%= link_to "退出登录", destroy_user_session_path, method: :delete %></li>
                        <li class="top_page_nav_li"><%= link_to "回首页", firstpage_path, method: :get %></li>
                        <li class="top_page_nav_li">
                            <%= link_to('日语', :locale => 'ja') %>
                        </li>
                        <li class="top_page_nav_li">
                            <%= link_to('English', :locale => 'en') %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="top_page_title">
                <p>欢迎光临！</p>
            </div>
        </div>
        <div class="top_page_menu">
            <div class="top_page_menu_upper clearfix">
                <ul>
                    <li class="top_page_menu_indiv">
                        <a href="/zh/order/recommend_menu">
                            <p>推荐</p>
                        </a>
                    </li>
                    <li class="top_page_menu_indiv">
                        <a href="/zh/order/alacarte_menu">
                            <p>单品菜</p>
                        </a>
                    </li>
                    <li class="top_page_menu_indiv">
                        <a href="/zh/order/noodle_menu">
                            <p>面类</p>
                        </a>
                    </li>
                    <li class="top_page_menu_indiv">
                        <a href="/zh/order/set_menu">
                            <p>套餐</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="top_page_menu_lower clearfix">
                <ul>
                    <li class="top_page_menu_indiv">
                        <a href="/zh/order/search">
                            <p>搜索</p>
                        </a>
                    </li>
                    <li class="top_page_menu_indiv">
                        <a href="/zh/order/dessert_menu">
                            <p class="second">甜品<br>
                            汤类</p>
                        </a>
                    </li>
                    <li class="top_page_menu_indiv">
                        <a href="/zh/order/rice_menu">
                            <p class="second">米饭<br>
                            主食</p>
                        </a>
                    </li>
                    <li class="top_page_menu_indiv">
                        <a href="/zh/order/drink_menu">
                            <p class="second">软饮<br>
                            酒类</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% if flash[:notice].present? %>
    <div id="toasts">谢谢下单！</div>
<% end %>
