<div class="kitchen_background-color">
    <div class="kitchen_background">
        <header class="kitchen_header clearfix">
            <div class="kitchen_header_left">
                <div class="kitchen_button orange">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </div>
            </div>
            <div class="kitchen_button_right">
                <div class="kitchen_button orange">
                    <a href="/kitchen/table">
                        <p>テーブル</p>
                    </a>
                </div>
                <div class="kitchen_button orange">
                    <a href="/kitchen/ordered">
                        <p>調理待</p>
                    </a>
                </div>
                <div class="kitchen_button orange">
                    <a href="/kitchen/served">
                        <p>注文一覧</p>
                    </a>
                </div>
                <div class="kitchen_button">
                    <a href="/kitchen/notification">
                        <p>通知一覧</p>
                    </a>
                </div>
            </div>
        </header>
        <div class="kitchen_title">
            <p>
                通知一覧
            </p>
        </div>
        <div class="kitchen_line">
            <h2></h2>
        </div>
        <div class="notification_display">
            <div class="notification_div">
            <div class="notification_title">
                <ul>
                    <li class="notification_title_indiv width2">テーブル</li>
                    <li class="notification_title_indiv width1">内容</li>
                    <li class="notification_title_indiv width3">時間</li>
                    <li class="notification_title_indiv width2">削除</li>
                </ul>
            </div>
            <% @notification.zip(@time).each do |notification, time| %>
            <!--<2% @notification.each do |notification| %>-->
                <div class="notification_detail">
                    <div class="notification_table">
                        <p><%= notification[:table_id] %></p> 
                    </div>
                    
                    <% if notification[:state] == 1 then %>
                        <div class="notification_state">
                            <p>呼び出し</p>
                        </div>
                    <% elsif notification[:state] == 2 %>
                        <div class="notification_state">
                            <p>会計</p>
                        </div>
                    <% else %>
                        <div class="notification_state">
                            <p>新しい注文</p>
                        </div>
                    <% end %>
                    <div class="notification_time">
                        <p><%= time %></p>
                    </div>
                    <div class="notification_delete">
                        <div class="notification_destroy">
                            <div class="destroy_btn">
                                <%= link_to '×', notification_destroy_path(notification), method: :delete %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        
        </div>
        </div>
    </div>
</div>
<script>
//   var reloadMessages = function() {
//     $.ajax({
//       url: '/kitchen/notification',
//       type: 'GET',
//       dataType: 'json'
//     })
//     .done(function(messages) {
//       console.log('hoge');
//       var insertHTML = '';
//       messages.forEach(function(message) {
//         insertHTML += buildMessageHTML(message);
//       });
//      //htmlの文をinterHTMLに入れる

//       var $messages = $('.js-messages');
//       $messages.empty();
//       $messages.append(insertHTML);
//       $messages.animate({scrollTop: $messages[0].scrollHeight}, 2000);
//     })
//     .fail(function() {
//       console.log('error');
//     });
//   };
//  setInterval(reloadMessages, 7000);
// setInterval(function(){
//     console.log("p");//idをclearIntervalで指定している
//     }, 1000);
</script>