.sign_in {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 0;
    max-width: 500px;
    color: #000a34;
    .sign_in_title {
        width: 100%;
        h2 {
            margin: 20px auto;
            padding: 0;
            width: 100px;
            text-align: center;
        }
    }
    form {
        .field {
            padding-top: 40px;
            label {
                font-size: 20px;
                display: inline-block;
                padding-bottom: 10px;
                margin-left: 10px;
            }
            input {
                width: 478px;
                margin: 5px 0 15px;
                padding: 10px;
                border: 1px solid #d8d8d8;
                border-radius: 5px;
                height: 2rem;
                font-size: 24px;
            }
        }
        .actions {
            width: 100%;
            padding-top: 70px;
            input[type="submit" i] {
                height: 3rem;
                width: 50%;
                background-color: #e94e47;
                border-radius: 5px;
                color: #fff;
                border: 0;
                font-size: 24px;
                display: block;
                margin: 0 auto;
            }
        }
    }
    .sign_up {
        width: 50%;
        margin: 40px auto 0;
        a {
            width: 66px;
            // text-decoration: none;
            font-size: 18px;
            color: #000a34;
            margin: 0 auto;
            display: block;

        }
    }

}