// Place all the styles related to the kitchen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.kitchen_background-color {
    background-color: #f5f5dc;
    min-height: 768px;
    min-width: 1024px;
    
    // ↓共通部分
    .clearfix:after {
        content: "";
        clear: both;
        display: block;
    }
    .kitchen_button {
        width: 132px;
        height: 56px;
        margin: 4px 14px;
        box-sizing: border-box;
        background-color: #000a34;
        text-align: center;
        border-radius: 2px;
        font-size: 19px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

        position: relative;

        a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            text-decoration: none;
            color: #ffffff;
            margin: 19px 0;

            p {
                margin: 0;
            }
            .double2 {
                margin: 9px 0;
            }
        }
    }
    .blue {
        background-color: #000a34;
    }
    .orange {
        background-color: #ea5317;
    }
    .kitchen_background {
        width: 960px;
        height: 720px;
        padding: 32px 0 28px;
        margin: 0 auto;

        .kitchen_header {
            width: 960px;
            height: 64px;
            margin: 0 auto 8px;
            .kitchen_header_left {
                float: left;
                display: flex;
            }
            .kitchen_button_right {
                float: right;
                display: flex;
            }
        }
        .kitchen_title {
            width: 97%;
            margin: 0 auto;
            p {
                font-size: 28px;
                margin: 36px 0 10px;
            }
        }
        .kitchen_line {
            width: 64%;
            margin: 0 0 0 1%;
            h2 {
                border-bottom: solid 3px #000a34;
                position: relative;
                margin: 1rem 0;
            }
            h2:after {
                content: "";
                display: block;
                line-height: 0;
                overflow: hidden;
                position: absolute;
                left: 0;
                width: 30%;
                border-bottom: 3px solid #ea5317;
            }
        }
        .notification_display {
            width: 800px;
            margin: 0 auto;

            .notification_div {
            width: 100%;
            margin: 7% auto;
            text-align: center;
        
            ul {
                list-style: none;
                display: flex;
                padding: 0;
                margin: 0;
                .notification_title_indiv {
                    border: 2px solid #ffffff;
                    height: 38px;
                    background-color: #000a34;
                    color: #ffffff;
                    font-size: 24px;
                    padding-top: 14px;
                }
                .width1 {
                    width: 330px;
                    border-left: none;
                }
                .width2 {
                    width: 130px;
                }
                .width3 {
                    width: 196px;
                    border-right: none;
                }
        
            }
            .notification_detail {
                margin: 0 auto;
                text-align: center;
                display: flex;
                p {
                    margin: 0;
                }
                .notification_table {
                    border: 2px solid #ffffff;
                    border-bottom: 2px solid #ea5317;
                    height: 40px;
                    font-size: 28px;
                    padding-top: 5%;
                    width: 130px;
                    border-left: none;

                }
                .notification_state {
                    border: 2px solid #ffffff;
                    border-bottom: 2px solid #ea5317;
                    height: 40px;
                    font-size: 28px;
                    padding-top: 5%;
                    width: 330px;
                    // text-align: left;
                }
                .notification_time {
                    border: 2px solid #ffffff;
                    border-bottom: 2px solid #ea5317;
                    height: 40px;
                    padding-top: 5%;
                    width: 196px;
                    color: #ea5317;
                    font-size: 32px;
                }
                .notification_delete {
                    border: 2px solid #ffffff;
                    border-bottom: 2px solid #ea5317;
                    // height: 40px;
                    font-size: 28px;
                    // padding-top: 5%;
                    width: 130px;
                    border-right: none;
                    .notification_destroy {
                        width: 130px;
                        height: auto;
                        cursor: pointer;                        

                        .destroy_btn {
                            cursor: pointer;
                            width: 50px;
                            height: 50px;
                            line-height: 50px;
                            border-radius: 50%;
                            text-align: center;
                            overflow: hidden;
                            font-weight: bold;
                            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.28);

                            background-image: linear-gradient(#e77676 0%, #cd5c5c 100%);
                            margin: 17% auto 0;
                            a {
                                color: #ffffff;
                                text-decoration: none;

                            }
                        }
                    }
                }
            }
        }
        }
    }
}